body {
  color: white;
  text-shadow: 2px 2px black;
  background-color: black;
  background-image: url(norris.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.container, h1{
  position:relative;
  z-index: 99;
}
/*img.watermark {
  opacity: .5;
  position: fixed;
  top:10px;
  height:auto;
  width: 100%;
  z-index: 0;
}*/

.title {
  background-color: ;
  padding:20px 20px 20px 100px;
  margin: 50px;
  z-index: 99;
}
form {
  color: black;
  padding: 30px;
}

p {
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.cJ {
  font-size: 35px;
}
